.ubq-public[data-ubq-theme='dark'] {
  --ubq-canvas: hsl(11, 100%, 51%);
  --ubq-elevation-1: hsl(207 17% 12%);
  --ubq-elevation-2: hsl(210 15% 15%);
  --ubq-elevation-3: hsl(208 14% 18%);
  --ubq-foreground-default: hsl(200 11% 95%);
  --ubq-foreground-light: hsl(200 11% 95% / 0.7);
  --ubq-foreground-info: hsl(200 11% 95% / 0.5);
  --ubq-foreground-active: hsl(221 100% 80%);
  --ubq-foreground-accent: hsl(208 14% 18%);
  --ubq-foreground-danger-default: hsl(208 14% 18%);
  --ubq-foreground-notice-default: hsl(208 14% 18%);
  --ubq-interactive-default: hsl(208 12% 28%);
  --ubq-interactive-hover: hsl(207 10% 34%);
  --ubq-interactive-pressed: hsl(208 13% 23%);
  --ubq-interactive-selected: hsl(208 12% 28%);
  --ubq-interactive-active-default: hsl(221 100% 80%);
  --ubq-interactive-active-hover: hsl(219 100% 88%);
  --ubq-interactive-active-pressed: hsl(223 100% 76%);
  --ubq-interactive-accent-default: hsl(221 100% 80%);
  --ubq-interactive-accent-hover: hsl(219 100% 88%);
  --ubq-interactive-accent-pressed: hsl(223 100% 76%);
  --ubq-interactive-danger-default: hsl(346 98% 81%);
  --ubq-interactive-danger-hover: hsl(347 100% 88%);
  --ubq-interactive-danger-pressed: hsl(344 89% 75%);
  --ubq-interactive-template-default: hsl(273 100% 82%);
  --ubq-interactive-template-hover: hsl(273 100% 89%);
  --ubq-interactive-template-pressed: hsl(273 100% 77%);
  --ubq-interactive-group-default: hsl(0 0% 0% / 0);
  --ubq-interactive-group-hover: hsl(208 14% 18%);
  --ubq-interactive-group-active-default: hsl(208 13% 23%);
  --ubq-interactive-group-active-hover: hsl(208 12% 28%);
  --ubq-input-default: hsl(207 18% 10%);
  --ubq-input-hover: hsl(207 17% 12%);
  --ubq-border-default: hsl(0 0% 100% / 0.16);
  --ubq-stroke-contrast-1: hsl(200 11% 95% / 0.12);
  --ubq-stroke-contrast-2: hsl(200 11% 95% / 0.25);
  --ubq-stroke-contrast-3: hsl(200 11% 95% / 0.9);
  --ubq-focus-default: hsl(221 100% 80%);
  --ubq-focus-outline: hsl(221 100% 80% / 0.35);
  --ubq-overlay: hsl(207 18% 10% / 0.8);
  --ubq-notice-info: hsl(205 9% 75%);
  --ubq-notice-success: hsl(158 42% 67%);
  --ubq-notice-warning: hsl(37 61% 67%);
  --ubq-notice-error: hsl(346 98% 81%);
  --ubq-effect-shadow: 0px 1px 2px 0px hsla(0, 0%, 0%, 0.24), 0px 0px 0px 0.5px hsla(0, 0%, 0%, 0.12);
  --ubq-effect-focus: 0px 1px 2px 0px hsla(0, 0%, 0%, 0.24),
    0px 0px 0px 0.5px hsla(0, 0%, 0%, 0.12),
    0px 0px 0px 2px hsl(210 15% 15%),
    0px 0px 0px 3px hsl(221 100% 80%),
    0px 0px 0px 7px hsl(221 100% 80% / 0.35);
  --ubq-progress: hsl(206 8% 62%);
  --ubq-static-selection-frame: hsl(230, 100%, 60%);
  --ubq-static-contrast-white: hsl(0, 0%, 100%);
  --ubq-static-contrast-black: hsl(0, 0%, 0%);
  --ubq-static-snapping: hsl(338, 100%, 50%);
  --ubq-static-bleed: hsl(334, 73%, 43%);
  --ubq-static-text-variable: hsl(274, 97%, 60%);
  --ubq-static-card-label-background: linear-gradient(
      
      180deg,
      rgba(0, 0, 0, 0) 14.46%,
      rgba(0, 0, 0, 0.6) 100% );
  --ubq-static-card-background: linear-gradient(
      
      180deg,
      hsla(0, 0%, 100%, 0.08),
      hsla(0, 0%, 0%, 0.08) ),
    hsla(0, 0%, 67%, 0.16);
}