.ubq-public[data-ubq-theme='light'] {
  --ubq-canvas: hsl(210 9% 87%);
  --ubq-elevation-1: hsl(204 9% 90%);
  --ubq-elevation-2: hsl(210 10% 92%);
  --ubq-elevation-3: hsl(200 11% 95%);
  --ubq-foreground-default: hsl(208 14% 18%);
  --ubq-foreground-light: hsl(208 14% 18% / 0.7);
  --ubq-foreground-info: hsl(208 14% 18% / 0.5);
  --ubq-foreground-active: hsl(228 100% 65%);
  --ubq-foreground-accent: hsl(200 11% 95%);
  --ubq-foreground-danger-default: hsl(200 11% 95%);
  --ubq-foreground-notice-default: hsl(200 11% 95%);
  --ubq-interactive-default: hsl(0 0% 100%);
  --ubq-interactive-hover: hsl(210 10% 85%);
  --ubq-interactive-pressed: hsl(205 9% 75%);
  --ubq-interactive-selected: hsl(0 0% 100%);
  --ubq-interactive-active-default: hsl(228 100% 65%);
  --ubq-interactive-active-hover: hsl(229 88% 60%);
  --ubq-interactive-active-pressed: hsl(231 76% 54%);
  --ubq-interactive-accent-default: hsl(228 100% 65%);
  --ubq-interactive-accent-hover: hsl(229 88% 60%);
  --ubq-interactive-accent-pressed: hsl(231 76% 54%);
  --ubq-interactive-danger-default: hsl(340 66% 54%);
  --ubq-interactive-danger-hover: hsl(337 69% 46%);
  --ubq-interactive-danger-pressed: hsl(332 100% 36%);
  --ubq-interactive-template-default: hsl(273 91% 61%);
  --ubq-interactive-template-hover: hsl(275 81% 53%);
  --ubq-interactive-template-pressed: hsl(278 100% 42%);
  --ubq-interactive-group-default: hsl(0 0% 100% / 0);
  --ubq-interactive-group-hover: hsl(210 8% 88%);
  --ubq-interactive-group-active-default: hsl(210 8% 85%);
  --ubq-interactive-group-active-hover: hsl(210 8% 82%);
  --ubq-input-default: hsl(210 9% 87%);
  --ubq-input-hover: hsl(210 10% 85%);
  --ubq-border-default: hsl(0 0% 100% / 0.4);
  --ubq-stroke-contrast-1: hsl(208 14% 18% / 0.12);
  --ubq-stroke-contrast-2: hsl(208 14% 18% / 0.25);
  --ubq-stroke-contrast-3: hsl(208 14% 18% / 0.9);
  --ubq-focus-default: hsl(231 76% 54%);
  --ubq-focus-outline: hsl(231 76% 54% / 0.35);
  --ubq-overlay: hsl(210 9% 87% / 0.8);
  --ubq-notice-info: hsl(207 7% 51%);
  --ubq-notice-success: hsl(165 100% 30%);
  --ubq-notice-warning: hsl(39 100% 34%);
  --ubq-notice-error: hsl(340 66% 54%);
  --ubq-effect-shadow: 0px 1px 2px 0px hsla(207, 18%, 10%, 0.16), 0px 0px 0px 0.5px hsla(207, 18%, 10%, 0.08);
  --ubq-effect-focus: 0px 1px 2px 0px hsla(207, 18%, 10%, 0.16),
    0px 0px 0px 0.5px hsla(207, 18%, 10%, 0.08),
    0px 0px 0px 2px hsl(210 10% 92%),
    0px 0px 0px 3px hsl(231 76% 54%),
    0px 0px 0px 7px hsl(231 76% 54% / 0.35);
  --ubq-progress: hsl(206 8% 62%);
  --ubq-static-selection-frame: hsl(230, 100%, 60%);
  --ubq-static-contrast-white: hsl(0, 0%, 100%);
  --ubq-static-contrast-black: hsl(0, 0%, 0%);
  --ubq-static-snapping: hsl(338, 100%, 50%);
  --ubq-static-bleed: hsl(334, 73%, 43%);
  --ubq-static-text-variable: hsl(274, 97%, 60%);
  --ubq-static-card-label-background: linear-gradient(
      
      180deg,
      rgba(0, 0, 0, 0) 14.46%,
      rgba(0, 0, 0, 0.6) 100% );
  --ubq-static-card-background: linear-gradient(
      
      180deg,
      hsla(0, 0%, 100%, 0.08),
      hsla(0, 0%, 0%, 0.08) ),
    hsla(0, 0%, 67%, 0.16);
}